<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8"/>
    <title>David Dong</title>
</head>
<body>
<!--    method="get" or "post" relates to the @GetMapping or @PostMapping in controller-->
<!--    we get the different display in the route window!-->
<!--"get" display: /hello1?name=Miley-->
<!--"post" display: /hello1-->
<form method = 'post' action = '/hello1'>
        <input type = 'text' name = 'name' />
        <input type = 'submit' value = 'Greet Me!' />
    </form>
</body>
</html>